.rounded img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
} 
header {
  background-image:url("https://static.pexels.com/photos/131637/pexels-photo-131637-large.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px:
  height: 200px;
  }
nav {
  line-height: 20px;
  background: #cccccc;
  height: 6000px
  width: 300px;
  float: left;
  padding: 10px;
}
section {
  width: 330px;
  float: left;
  padding: 15px;
}
#purple{
  color: purple;
}
  
button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background: orange;
  color: red;
}

#button-two {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background: red;
  color: blue;
}

footer {
  color: white;
  text-align: center;
  padding: 10px:
  height: 200px;
  clear: both;
}
  
a {
  color: green;
  text-decoration: none;
}
a: hover {
  color: yellow;
  background: blue;
  font-size: 50px;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
