.rounded img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
} 
header {
  background-image:url("https://static.pexels.com/photos/131637/pexels-photo-131637-large.jpeg");
  color: white;
  text-align: center;
  padding: 10px:
  height: 100px;
  }
nav {
  line-height: 400px;
  background: #cccccc;
  height: 6000px
  width: 300px;
  float: left;
  padding: 10px;
}
section {
  width: 330px;
  float: left;
  padding: 15px;
footer {
  background: blue;
  color: white;
  clear: both
  text-align: center;
  padding: 5px;
}
a {
  color: green;
  text-decoration: none;
}
a: hover {
  color: yellow;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
